In [1]:
# IMPORTING PACKAGES
import pandas as pd
import re
import seaborn as sns
import altair as alt
import string
import matplotlib.pyplot as plt
import nltk

from nltk.corpus import stopwords
from porter2stemmer import Porter2Stemmer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/amyhuynh/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
train = pd.read_json("train_data_cleaned.json", lines = True)
dev = pd.read_json("dev_data_cleaned.json", lines = True)
test = pd.read_json("test_data_cleaned.json", lines = True)

In [3]:
train.head(5)

,giver_username_if_known,number_of_downvotes_of_request_at_retrieval,number_of_upvotes_of_request_at_retrieval,post_was_edited,request_id,request_number_of_comments_at_retrieval,request_text,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,...,request_text_cleaned,request_title_cleaned,request_text_vader_senti,request_text_vader_neg,request_text_vader_pos,request_text_vader_neu,request_title_vader_senti,request_title_vader_neg,request_title_vader_pos,request_title_vader_neu
0,N/A,0,2,0,t3_ixx2j,1,Hi ROAP! I am going through a rough time right...,Hi ROAP! I am going through a rough time right...,[REQUEST] Hungry in Pennsylvania,0.000000,...,hi roap go rough time right fianc left recent ...,request hungri in pennsylvania,"{'neg': 0.083, 'neu': 0.797, 'pos': 0.12, 'com...",0.083,0.120,0.797,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000
1,N/A,3,2,0,t3_170iqa,0,Hiya Reddit! It's my wife's birthday today and...,Hiya Reddit! It's my wife's birthday today and...,[Request] Pizza for my wife on her birthday? :D,133.148669,...,hiya reddit wife birthday today hope someon wo...,request pizza for my wife on her birthday,"{'neg': 0.10400000000000001, 'neu': 0.733, 'po...",0.104,0.163,0.733,"{'neg': 0.0, 'neu': 0.665, 'pos': 0.335, 'comp...",0.000,0.335,0.665
2,N/A,3,3,0,t3_121puf,1,Hungry...no money...i'll pay it forward.,Hungry...no money...i'll pay it forward.,"[Request] Memphis, TN I neeeeeed pizzaaaaaaaaa.",2.049850,...,hungryno moneyil pay forward,request memphi tn i neeeee pizzaaaaaaaaa,"{'neg': 0.259, 'neu': 0.741, 'pos': 0.0, 'comp...",0.259,0.000,0.741,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000
3,N/A,0,1,0,t3_o8nap,4,So pretty much your average run of the mill re...,So pretty much your average run of the mill re...,[REQUEST] Average sad story within.,204.916944,...,pretti much averag run mill request gf split w...,request averag sad stori within,"{'neg': 0.015, 'neu': 0.8210000000000001, 'pos...",0.015,0.164,0.821,"{'neg': 0.437, 'neu': 0.5630000000000001, 'pos...",0.437,0.000,0.563
4,N/A,1,2,0,t3_nb786,0,haven't had stuffed crust pizza in ages and af...,haven't had stuffed crust pizza in ages and af...,[request] would love some stuffed crust pizza ...,380.499769,...,havent stuf crust pizza age pay rent car insur...,request would love some stuf crust pizza baltimor,"{'neg': 0.0, 'neu': 0.791, 'pos': 0.209, 'comp...",0.000,0.209,0.791,"{'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'comp...",0.000,0.375,0.625

In [4]:
dev.head(5)

,giver_username_if_known,number_of_downvotes_of_request_at_retrieval,number_of_upvotes_of_request_at_retrieval,post_was_edited,request_id,request_number_of_comments_at_retrieval,request_text,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,...,request_text_cleaned,request_title_cleaned,request_text_vader_senti,request_text_vader_neg,request_text_vader_pos,request_text_vader_neu,request_title_vader_senti,request_title_vader_neg,request_title_vader_pos,request_title_vader_neu
0,N/A,4,5,1,t3_t27zl,1,"Hey everybody,\n\nI stumbled into this subredd...","Hey everybody,\n\nI stumbled into this subredd...","[Request] Cold, rainy night in Connecticut. W...",0.000000,...,hey everybodi i stumbl subreddit yesterday kin...,request cold raini night in connecticut would ...,"{'neg': 0.032, 'neu': 0.671, 'pos': 0.297, 'co...",0.032,0.297,0.671,"{'neg': 0.067, 'neu': 0.619, 'pos': 0.314, 'co...",0.067,0.314,0.619
1,N/A,7,20,0,t3_leogq,1,\nPlease help. You're my only hope.\n\nI live ...,\nPlease help. You're my only hope.\n\nI live ...,"[Request] Haven't eaten in 36 hours, got six b...",600.113831,...,\npleas help your hope i live ashevill north c...,request havent eaten in 36 hour got six buck i...,"{'neg': 0.096, 'neu': 0.642, 'pos': 0.262, 'co...",0.096,0.262,0.642,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000
2,N/A,6,14,0,t3_1jafc3,4,Lost my job about a year ago and have been una...,Lost my job about a year ago and have been una...,[Request] $23 to my name and I have to spend t...,810.440069,...,lost job year ago unabl find one sinc 23 left ...,request 23 to my name and i have to spend that...,"{'neg': 0.061, 'neu': 0.8250000000000001, 'pos...",0.061,0.114,0.825,"{'neg': 0.0, 'neu': 0.856, 'pos': 0.1440000000...",0.000,0.144,0.856
3,N/A,0,1,0,t3_100mod,0,"Just moved to London on my own, first time awa...","Just moved to London on my own, first time awa...","[Request] London, UK. Just moved to the big ci...",445.579803,...,move london first time away home finish degre ...,request london uk just move to the big citi an...,"{'neg': 0.101, 'neu': 0.773, 'pos': 0.126, 'co...",0.101,0.126,0.773,"{'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'comp...",0.000,0.132,0.868
4,N/A,1,1,1355014140,t3_14ipl3,2,not working this week due to studies. I just w...,not working this week due to studies. I just w...,"[request] Asheville, Studying for finals and h...",167.281181,...,work week due studi want tasti pie,request ashevill studi for final and hungry\n,"{'neg': 0.0, 'neu': 0.902, 'pos': 0.098, 'comp...",0.000,0.098,0.902,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000

In [5]:
test.head(5)

,giver_username_if_known,number_of_downvotes_of_request_at_retrieval,number_of_upvotes_of_request_at_retrieval,post_was_edited,request_id,request_number_of_comments_at_retrieval,request_text,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,...,request_text_cleaned,request_title_cleaned,request_text_vader_senti,request_text_vader_neg,request_text_vader_pos,request_text_vader_neu,request_title_vader_senti,request_title_vader_neg,request_title_vader_pos,request_title_vader_neu
0,N/A,2,3,1343956907,t3_xevib,2,.....,.....,[Request] Not paid in Texas,0.000000,...,,request not paid in texa,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000
1,N/A,1,2,0,t3_1lojow,5,Just started school at Cuesta College in San L...,Just started school at Cuesta College in San L...,[Request] Unemployed and hungry waiting for my...,172.066447,...,start school cuesta colleg san lui obispo ca d...,request unemploy and hungri wait for my gi bil...,"{'neg': 0.0, 'neu': 0.926, 'pos': 0.074, 'comp...",0.000,0.074,0.926,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000
2,N/A,2,4,0,t3_i5lr2,0,"im all out of money, i had an A/C Compressor i...","im all out of money, i had an A/C Compressor i...","[Request] Looking For Food, Out Of Money",0.000000,...,im money ac compressor car blow sinc one stupi...,request look for food out of money,"{'neg': 0.14, 'neu': 0.8240000000000001, 'pos'...",0.140,0.036,0.824,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000
3,sartim,3,4,1,t3_krtse,19,Hello!\n\nI'm Riley and I'm requesting pizza f...,Hello!\n\nI'm Riley and I'm requesting pizza f...,[REQUEST] pizza for my parents and brothers in NJ,0.000000,...,hello im riley im request pizza famili itd sur...,request pizza for my parent and brother in nj,"{'neg': 0.039, 'neu': 0.796, 'pos': 0.165, 'co...",0.039,0.165,0.796,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,0.000,1.000
4,N/A,4,9,0,t3_1bimzj,12,Thank you guys! I hope to get pizza!,Thank you guys! I hope to get pizza!,[Request] On my SO and mines first movie date ...,48.779618,...,thank guy hope get pizza,request on my so and mine first movi date we s...,"{'neg': 0.0, 'neu': 0.501, 'pos': 0.499, 'comp...",0.000,0.499,0.501,"{'neg': 0.062, 'neu': 0.652, 'pos': 0.28600000...",0.062,0.286,0.652